.headStyle {
    margin-bottom: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}